/* Common Shared Styles */

body {
    font-family: 'Open Sans', sans-serif;
}

.text_primary {
    color: #FD6E0A;
}


/* Hire Me Button Styles */

.btn_primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px; 
    font-weight: 700;
    padding: 15px 35px;
    /* margin-bottom: 30px;
    margin-right: 30px; */
}

.download_space {
    margin-right: 30px;
}

.section_title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section_disc {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
/* Navigation Bar Related Styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}


.nav_title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    
}

nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}


/* Header Related Styles */

.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner_content {
    width: 500px;
}

.banner .profile_pic {
    width: 500px;
}

.banner_greeting {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 0;
}

.banner_title {
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}


/* Main Section Styles */

main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

/* About Section Styles */

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.about_info_container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}


/* What I do related Styles */

#what_i_do_desc {
    padding: 30px 150px;
}

.skills_container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;F
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill_desc {
    color: #757575;
}


/* A summary of My Resume Section Style */

.resume_column_title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}


.resume_container {
    display: flex;
    gap: 60px;
}

.resume_item_title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume_item_institute {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0px;
}
.resume_item_desc {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    margin-bottom:30px;
}

.resume_container hr {
    margin: 20px;
}

.download_cv {
    text-align: center;
    margin-top: 50px;
}


/* Footer Styles */
 
footer {
    display: flex;
    gap:100px;
    background: #FFF8F3;
    margin-top: 100px;
    padding: 130px 230px;
}


.footer_column {
    width: 50%;
}

.social_link a{
    margin-right: 24px;
}

.section_title {
    margin-bottom: 28px;
}

.contact input[type="text"], input[type="email"], textarea {
    display: block;
    margin-bottom: 24px;
    color: #757575;
    padding: 18px 35px;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}

